<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is the description" />

    <title>Document</title>

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />

    <script type="importmap">
    {
      "imports": {
        "@joist/di": "{{'/node_modules/@joist/di/target/lib.js' | url}}",
        "@joist/di/": "{{'/node_modules/@joist/di/target/lib/' | url}}",
        "@joist/element": "{{'/node_modules/@joist/element/target/lib.js' | url}}",
        "@joist/element/": "{{'/node_modules/@joist/element/target/lib/' | url}}",
        "@joist/observable": "{{'/node_modules/@joist/observable/target/lib.js' | url}}",
        "@joist/observable/": "{{'/node_modules/@joist/observable/target/lib/' | url}}",
        "tslib": "{{'/node_modules/tslib/tslib.es6.js' | url}}"
      }
    }
    </script>
  </head>

  <body>
    {% capture css %}
    {% include "css/style.css" %}
    {% include "css/navigation.css" %}
    {% include "css/footer.css" %}
    {% include "css/hero.css" %}
  {% endcapture %}
    <style>{{ css | cssmin }}
    </style>

    <style>
      {{ css | cssmin }}

      h2 {
        color: #4c165f;
        font-size: 56px;
        text-align: center;
        font-weight: 400;
      }

      h2::after {
        content: "";
        height: 5px;
        background: #4c165f;
        width: 25px;
        display: block;
        margin: 0.75rem auto 0;
        border-radius: 0.25rem;
      }

      section {
        margin-left: 4rem;
        margin-right: 4rem;
      }
    </style>

    {% for jsFile in jsFiles %}
      {% capture js %}
      {% include jsFile %}
    {% endcapture %}
      <script type="module">
        {{ js | jsmin }}
      </script>
    {% endfor %}

    {% include "partials/_navigation.njk" %}

    {% include "partials/_hero.njk" %}

    <section>
      <h2 id="what-we-do">What is USWDS?</h2>

      <p>
        A design system for U.S. federal websites and digital services, providing a standardized, accessible, and responsive framework.
  
        <ul>
          <li>Built with flexible components, design tokens, and templates to ensure a consistent user experience across government sites.</li>
          <li>Developed using modern web technologies like HTML, CSS, JavaScript, and design tokens, making it adaptable for various frameworks.</li>
          <li>Includes predefined UI components (buttons, forms, navigation, alerts, etc.) that follow best practices for usability and accessibility.</li>
        </ul>
      </p>
    </section>

    <section>
      <h2 id="what-we-do">Why use USWDS?</h2>

      <ul>
        <li>Ensures consistency across federal digital services and websites</li>
        <li>Improves accessibility making government websites more usable for all citizens</li>
        <li>Enhances performance and mobile responsiveness, optimizing user experience across devices</li>
        <li>Reduces cost and development time through ready-to-use design components</li>
      </ul>
    </section>

    <section>
      <h2 id="what-we-do">Why did we build this?</h2>
    </section>

    
    <section>
      <h2 id="what-we-do">Getting started</h2>

      <p>
        The easiest way to get started is to include the USWDS script tag in your project from esm.sh.
      </p>

      {% highlight html %}
<script type="module" src="https://esm.sh/@noctuatech/uswds/define.js"></script>

<usa-config icon-path="https://esm.sh/@noctuatech/uswds/assets/usa-icons/"> 
  <usa-alert type="info">
    <h3 slot="heading">Welcome to the USWDS</h3>
    This an example to get you started with the USWDS.
  </usa-alert>

  <form>
    <usa-input name="name" label="Name"></usa-input>
    <usa-input name="email" label="Email"></usa-input>

    <usa-input-mask>
      <usa-input name="phone" label="Phone" mask="(999) 999-9999"></usa-input>
    </usa-input-mask>

    <usa-select name="state" label="State">
      <usa-select-option value="AL">Alabama</usa-select-option>
      <usa-select-option value="AK">Alaska</usa-select-option>
      <usa-select-option value="AZ">Arizona</usa-select-option>
      <usa-select-option value="AR">Arkansas</usa-select-option>
      <usa-select-option value="CA">California</usa-select-option>
    </usa-select>

    <usa-button>Submit</usa-button>
  </form>
</usa-config>
      {% endhighlight %}

      <p>
        If you are using node and npm you can also install the package directly into your project.
      </p>

    {% highlight sh %}
    npm install @noctuatech/uswds
    {% endhighlight %}
    </section>

    <section>
      <h3 id="what-we-do">Result</h3>

      <script type="module" src="https://esm.sh/@noctuatech/uswds/define.js"></script>

      <usa-config icon-path="https://esm.sh/@noctuatech/uswds/assets/usa-icons/">
        <usa-alert type="info">
          <h3 slot="heading">Welcome to the USWDS</h3>
          This an example to get you started with the USWDS.
        </usa-alert>

        <form>
          <usa-input name="name" label="Name">Name</usa-input>
          <usa-input name="email" label="Email">Email</usa-input>

          <usa-input-mask>
            <usa-input name="phone" label="Phone" mask="(999) 999-9999">Phone</usa-input>
          </usa-input-mask>

          <usa-select name="state" label="State">
            State

            <usa-select-option value="AL">Alabama</usa-select-option>
            <usa-select-option value="AK">Alaska</usa-select-option>
            <usa-select-option value="AZ">Arizona</usa-select-option>
            <usa-select-option value="AR">Arkansas</usa-select-option>
            <usa-select-option value="CA">California</usa-select-option>
          </usa-select>

          <usa-button>Submit</usa-button>
        </form>
      </usa-config>
    </section>

    <br>

    {% include "partials/_footer.njk" %}
  </body>

</html>