<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="This is the description" />

  <title>Document</title>

  <script type="importmap">
    {
      "imports": {
        "@joist/di": "{{'/node_modules/@joist/di/target/lib.js' | url}}",
        "@joist/di/": "{{'/node_modules/@joist/di/target/lib/' | url}}",
        "@joist/element": "{{'/node_modules/@joist/element/target/lib.js' | url}}",
        "@joist/element/": "{{'/node_modules/@joist/element/target/lib/' | url}}",
        "@joist/observable": "{{'/node_modules/@joist/observable/target/lib.js' | url}}",
        "@joist/observable/": "{{'/node_modules/@joist/observable/target/lib/' | url}}",
        "tslib": "{{'/node_modules/tslib/tslib.es6.js' | url}}"
      }
    }
  </script>
</head>

<body>
  <style>
    :not(:defined) {
      visibility: hidden;
    }

    usa-config {
      display: contents;
    }

    body {
      padding: 0;
      margin: 0;
    }

    main {
      max-width: 1080px;
      margin: 0 auto;
    }

    * {
      font-family:
        Source Sans Pro Web,
        Helvetica Neue,
        Helvetica,
        Roboto,
        Arial,
        sans-serif;

      box-sizing: border-box;
    }

    .content {
      display: flex;
      /* gap: 3rem; */
    }

    .content section:last-child {
      flex-grow: 1;
    }

    h1 {
      background: #f3f3f3;
      padding: 1rem 2rem 1rem 2rem;
      margin: 0;
    }

    usa-side-nav {
      margin: 1rem;
    }

    main section:last-child {
      margin: 0 1rem 1rem 1rem;
    }

    header {
      align-items: center;
      display: flex;
      background-color: #252f3e;
      padding: 1rem 2rem;
      color: #fff;
    }

    header span {
      margin: 0;
      font-size: 1.25rem;
      font-weight: bold;
    }

    header img {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 1rem;
    }
  </style>

  <header>
    <img src="/assets/img/4c-lg-on-black.svg" aria-hidden="true" />

    <span>U.S. Web Design System (USWDS)</span>
  </header>

  <h1>Components</h1>

  <usa-config icon-path="{{'/assets/usa-icons/' | url}}">
    <main>
      <div class="content">
        <section>
          <h2>Sub Heading</h2>

          <usa-alert type="info">
            <h2 slot="heading">Informative status</h2>

            Lorem ipsum dolor sit amet,&nbsp;

            <usa-link href="#">consectetur adipiscing</usa-link>&nbsp;elit,
            sed do eiusmod.
          </usa-alert>

          <usa-card-group>
            <usa-card>
              <usa-card-header>Card</usa-card-header>

              <usa-card-body>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facilis earum tenetur quo cupiditate, eaque qui officia
                recusandae.
              </usa-card-body>

              <usa-card-footer>
                <usa-button>Visit Florida Keys</usa-button>
              </usa-card-footer>
            </usa-card>

            <usa-card>
              <usa-card-media>
                <img src="/assets/img/built-to-grow--alt.jpg" alt="A placeholder image" />
              </usa-card-media>

              <usa-card-header>Card with media</usa-card-header>

              <usa-card-body>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facilis earum tenetur quo cupiditate, eaque qui officia
                recusandae.
              </usa-card-body>

              <usa-card-footer>
                <usa-button>Visit Florida Keys</usa-button>
              </usa-card-footer>
            </usa-card>

            <usa-card>
              <usa-card-header>Media with heaer first</usa-card-header>

              <usa-card-media>
                <img src="/assets/img/built-to-grow--alt.jpg" alt="A placeholder image" />
              </usa-card-media>

              <usa-card-body>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempore possimus similique nemo odit doloremque laudantium?
              </usa-card-body>

              <usa-card-footer>
                <usa-button>Visit Florida Keys</usa-button>
              </usa-card-footer>
            </usa-card>
          </usa-card-group>

          <h2>Get in touch</h2>

          <div style="display: flex; gap: 2rem;">
            <div>
              <usa-side-nav>
                <usa-side-nav-item current>
                  <usa-link href="#">Current Page</usa-link>

                  <usa-side-nav-item slot="children">
                    <usa-link href="#">Child</usa-link>
                  </usa-side-nav-item>

                  <usa-side-nav-item slot="children" current>
                    <usa-link href="#">Child</usa-link>

                    <usa-side-nav-item slot="children">
                      <usa-link href="#">Grandchild</usa-link>
                    </usa-side-nav-item>

                    <usa-side-nav-item slot="children" current>
                      <usa-link href="#">Grandchild</usa-link>
                    </usa-side-nav-item>

                    <usa-side-nav-item slot="children">
                      <usa-link href="#">Grandchild</usa-link>
                    </usa-side-nav-item>
                  </usa-side-nav-item>

                  <usa-side-nav-item slot="children">
                    <usa-link href="#">Child</usa-link>
                  </usa-side-nav-item>
                </usa-side-nav-item>

                <usa-side-nav-item>
                  <usa-link href="#">Parent</usa-link>
                </usa-side-nav-item>

                <usa-side-nav-item>
                  <usa-link href="#">Parent</usa-link>
                </usa-side-nav-item>
              </usa-side-nav>
            </div>

            <form>
              <usa-input name="fname" placeholder="First name" autocomplete="off">
                First name
              </usa-input>

              <usa-input name="lname" placeholder="Last name" autocomplete="off">
                Last name
              </usa-input>

              <usa-input-mask>
                <usa-input name="phone" placeholder="(999) 999-9999" mask="(999) 999-9999" autocomplete="off">
                  Phone number
                </usa-input>
              </usa-input-mask>

              <usa-select name="select">
                Hello World

                <usa-select-option>-Select One -</usa-select-option>
                <usa-select-option value="first">first</usa-select-option>
                <usa-select-option value="second">second</usa-select-option>
                <usa-select-option value="third">third</usa-select-option>
                <usa-select-option value="fourth">fourth</usa-select-option>
              </usa-select>

              <usa-combo-box name="state" placeholder="Select a state">
                <span slot="label">States</span>

                <usa-combo-box-option value="Alabama">
                  <img loading="lazy" src="./assets/flags/alabama.svg" alt="Alabama" height="20" /> Alabama
                </usa-combo-box-option>

                <usa-combo-box-option value="Alaska">
                  <img loading="lazy" src="./assets/flags/alaska.svg" alt="Alaska" height="20" /> Alaska
                </usa-combo-box-option>

                <usa-combo-box-option value="Arizona">
                  <img loading="lazy" src="./assets/flags/arizona.svg" alt="Arizona" height="20" /> Arizona
                </usa-combo-box-option>

                <usa-combo-box-option value="Arkansas">
                  <img loading="lazy" src="./assets/flags/arkansas.svg" alt="Arkansas" height="20" /> Arkansas
                </usa-combo-box-option>

                <usa-combo-box-option value="California">
                  <img loading="lazy" src="./assets/flags/california.svg" alt="California" height="20" /> California
                </usa-combo-box-option>

                <usa-combo-box-option value="Colorado">
                  <img loading="lazy" src="./assets/flags/colorado.svg" alt="Colorado" height="20" /> Colorado
                </usa-combo-box-option>

                <usa-combo-box-option value="Connecticut">
                  <img loading="lazy" src="./assets/flags/connecticut.svg" alt="Connecticut" height="20" /> Connecticut
                </usa-combo-box-option>

                <usa-combo-box-option value="Delaware">
                  <img loading="lazy" src="./assets/flags/delaware.svg" alt="Delaware" height="20" /> Delaware
                </usa-combo-box-option>

                <usa-combo-box-option value="Florida">
                  <img loading="lazy" src="./assets/flags/florida.svg" alt="Florida" height="20" /> Florida
                </usa-combo-box-option>

                <usa-combo-box-option value="Georgia">
                  <img loading="lazy" src="./assets/flags/georgia.svg" alt="Georgia" height="20" /> Georgia
                </usa-combo-box-option>

                <usa-combo-box-option value="Hawaii">
                  <img loading="lazy" src="./assets/flags/hawaii.svg" alt="Hawaii" height="20" /> Hawaii
                </usa-combo-box-option>

                <usa-combo-box-option value="Idaho">
                  <img loading="lazy" src="./assets/flags/idaho.svg" alt="Idaho" height="20" /> Idaho
                </usa-combo-box-option>

                <usa-combo-box-option value="Illinois">
                  <img loading="lazy" src="./assets/flags/illinois.svg" alt="Illinois" height="20" /> Illinois
                </usa-combo-box-option>

                <usa-combo-box-option value="Indiana">
                  <img loading="lazy" src="./assets/flags/indiana.svg" alt="Indiana" height="20" /> Indiana
                </usa-combo-box-option>

                <usa-combo-box-option value="Iowa">
                  <img loading="lazy" src="./assets/flags/iowa.svg" alt="Iowa" height="20" /> Iowa
                </usa-combo-box-option>

                <usa-combo-box-option value="Kansas">
                  <img loading="lazy" src="./assets/flags/kansas.svg" alt="Kansas" height="20" /> Kansas
                </usa-combo-box-option>

                <usa-combo-box-option value="Kentucky">
                  <img loading="lazy" src="./assets/flags/kentucky.svg" alt="Kentucky" height="20" /> Kentucky
                </usa-combo-box-option>

                <usa-combo-box-option value="Louisiana">
                  <img loading="lazy" src="./assets/flags/louisiana.svg" alt="Louisiana" height="20" /> Louisiana
                </usa-combo-box-option>

                <usa-combo-box-option value="Maine">
                  <img loading="lazy" src="./assets/flags/maine.svg" alt="Maine" height="20" /> Maine
                </usa-combo-box-option>

                <usa-combo-box-option value="Maryland">
                  <img loading="lazy" src="./assets/flags/maryland.svg" alt="Maryland" height="20" /> Maryland
                </usa-combo-box-option>

                <usa-combo-box-option value="Massachusetts">
                  <img loading="lazy" src="./assets/flags/massachusetts.svg" alt="Massachusetts" height="20" /> Massachusetts
                </usa-combo-box-option>

                <usa-combo-box-option value="Michigan">
                  <img loading="lazy" src="./assets/flags/michigan.svg" alt="Michigan" height="20" /> Michigan
                </usa-combo-box-option>

                <usa-combo-box-option value="Minnesota">
                  <img loading="lazy" src="./assets/flags/minnesota.svg" alt="Minnesota" height="20" /> Minnesota
                </usa-combo-box-option>

                <usa-combo-box-option value="Mississippi">
                  <img loading="lazy" src="./assets/flags/mississippi.svg" alt="Mississippi" height="20" /> Mississippi
                </usa-combo-box-option>

                <usa-combo-box-option value="Missouri">
                  <img loading="lazy" src="./assets/flags/missouri.svg" alt="Missouri" height="20" /> Missouri
                </usa-combo-box-option>

                <usa-combo-box-option value="Montana">
                  <img loading="lazy" src="./assets/flags/montana.svg" alt="Montana" height="20" /> Montana
                </usa-combo-box-option>

                <usa-combo-box-option value="Nebraska">
                  <img loading="lazy" src="./assets/flags/nebraska.svg" alt="Nebraska" height="20" /> Nebraska
                </usa-combo-box-option>

                <usa-combo-box-option value="Nevada">
                  <img loading="lazy" src="./assets/flags/nevada.svg" alt="Nevada" height="20" /> Nevada
                </usa-combo-box-option>

                <usa-combo-box-option value="New Hampshire">
                  <img loading="lazy" src="./assets/flags/new_hampshire.svg" alt="New Hampshire" height="20" /> New Hampshire
                </usa-combo-box-option>

                <usa-combo-box-option value="New Jersey">
                  <img loading="lazy" src="./assets/flags/new_jersey.svg" alt="New Jersey" height="20" /> New Jersey
                </usa-combo-box-option>

                <usa-combo-box-option value="New Mexico">
                  <img loading="lazy" src="./assets/flags/new_mexico.svg" alt="New Mexico" height="20" /> New Mexico
                </usa-combo-box-option>

                <usa-combo-box-option value="New York">
                  <img loading="lazy" src="./assets/flags/new_york.svg" alt="New York" height="20" /> New York
                </usa-combo-box-option>

                <usa-combo-box-option value="North Carolina">
                  <img loading="lazy" src="./assets/flags/north_carolina.svg" alt="North Carolina" height="20" /> North Carolina
                </usa-combo-box-option>

                <usa-combo-box-option value="North Dakota">
                  <img loading="lazy" src="./assets/flags/north_dakota.svg" alt="North Dakota" height="20" /> North Dakota
                </usa-combo-box-option>

                <usa-combo-box-option value="Ohio">
                  <img loading="lazy" src="./assets/flags/ohio.svg" alt="Ohio" height="20" /> Ohio
                </usa-combo-box-option>

                <usa-combo-box-option value="Oklahoma">
                  <img loading="lazy" src="./assets/flags/oklahoma.svg" alt="Oklahoma" height="20" /> Oklahoma
                </usa-combo-box-option>

                <usa-combo-box-option value="Oregon">
                  <img loading="lazy" src="./assets/flags/oregon.svg" alt="Oregon" height="20" /> Oregon
                </usa-combo-box-option>

                <usa-combo-box-option value="Pennsylvania">
                  <img loading="lazy" src="./assets/flags/pennsylvania.svg" alt="Pennsylvania" height="20" /> Pennsylvania
                </usa-combo-box-option>

                <usa-combo-box-option value="Rhode Island">
                  <img loading="lazy" src="./assets/flags/rhode_island.svg" alt="Rhode Island" height="20" /> Rhode Island
                </usa-combo-box-option>

                <usa-combo-box-option value="South Carolina">
                  <img loading="lazy" src="./assets/flags/south_carolina.svg" alt="South Carolina" height="20" /> South Carolina
                </usa-combo-box-option>

                <usa-combo-box-option value="South Dakota">
                  <img loading="lazy" src="./assets/flags/south_dakota.svg" alt="South Dakota" height="20" /> South Dakota
                </usa-combo-box-option>

                <usa-combo-box-option value="Tennessee">
                  <img loading="lazy" src="./assets/flags/tennessee.svg" alt="Tennessee" height="20" /> Tennessee
                </usa-combo-box-option>

                <usa-combo-box-option value="Texas">
                  <img loading="lazy" src="./assets/flags/texas.svg" alt="Texas" height="20" /> Texas
                </usa-combo-box-option>

                <usa-combo-box-option value="Utah">
                  <img loading="lazy" src="./assets/flags/utah.svg" alt="Utah" height="20" /> Utah
                </usa-combo-box-option>

                <usa-combo-box-option value="Vermont">
                  <img loading="lazy" src="./assets/flags/vermont.svg" alt="Vermont" height="20" /> Vermont
                </usa-combo-box-option>

                <usa-combo-box-option value="Virginia">
                  <img loading="lazy" src="./assets/flags/virginia.svg" alt="Virginia" height="20" /> Virginia
                </usa-combo-box-option>

                <usa-combo-box-option value="Washington">
                  <img loading="lazy" src="./assets/flags/washington.svg" alt="Washington" height="20" /> Washington
                </usa-combo-box-option>

                <usa-combo-box-option value="West Virginia">
                  <img loading="lazy" src="./assets/flags/west_virginia.svg" alt="West Virginia" height="20" /> West Virginia
                </usa-combo-box-option>

                <usa-combo-box-option value="Wisconsin">
                  <img loading="lazy" src="./assets/flags/wisconsin.svg" alt="Wisconsin" height="20" /> Wisconsin
                </usa-combo-box-option>
                
                <usa-combo-box-option value="Wyoming">
                  <img loading="lazy" src="./assets/flags/wyoming.svg" alt="Wyoming" height="20" /> Wyoming
                </usa-combo-box-option>
              </usa-combo-box>

              <usa-radio name="historical-figures" tiled required>
                <legend slot="legend">Select one historical figure</legend>

                <usa-radio-option value="sojourner-truth">
                  Sojourner Truth
                </usa-radio-option>

                <usa-radio-option value="frederick-douglass">
                  Frederick Douglass

                  <usa-description>
                    This is optional text that can be used to describe the label
                    in more detail.
                  </usa-description>
                </usa-radio-option>

                <usa-radio-option value="booker-t-washington">
                  Booker T. Washington
                </usa-radio-option>

                <usa-radio-option value="george-washington-carver">
                  George Washington Carver
                </usa-radio-option>
              </usa-radio>

              <usa-file-input name="upload">
                Input accepts a single file

                <div slot="description">
                  Drag file here or <usa-link>choose from folder</usa-link>
                </div>
              </usa-file-input>

              <usa-checkbox name="tac" required>I agree to the terms and conditions</usa-checkbox>

              <br />
              <br />

              <usa-button type="submit">Submit</usa-button>
            </form>
          </div>
        </section>
      </div>
    </main>

    <usa-modal id="mymodal">
      <usa-modal-close></usa-modal-close>

      <usa-modal-heading>
        Are you sure you want to continue?
      </usa-modal-heading>

      <usa-input placeholder="foo@email.com" autofocus>
        Enter your email to continue
      </usa-input>

      <usa-button modal-action="confirm">Yes I am sure</usa-button>
      <usa-button modal-action="cancel" variant="outline">Cancel</usa-button>
    </usa-modal>
  </usa-config>

  <script type="module">
    const search = new URLSearchParams(window.location.search);

    if (search.has("remote")) {
      await import("https://esm.sh/@noctuatech/uswds@latest/define.js?bundle");
    } else {
      await import("/target/lib/define.js");
    }
  </script>

</body>

</html>